.linkto{
    color: #bbb;
    font-size: 11pt;
}
body{
    margin-left: 60px;
    background-color: #bbb;
}
.menu_bar{
    position: absolute;
    left: 0;
    top: 0;
    background-color: #111;
    color: #eee;
    height: 100%;
    width: 50px;
    transition: 0.2s;
}
.menu_bar:hover{
    width: 150px;
    transition: 0.2s;
}
.menu_item{
    text-align: center;
    margin: 10px;
    font-size: 24pt;
}
button{
    padding: 5px 10px 5px 10px;
    background-color: cadetblue;
    color: white;
    border: 3px;
    border-radius: 3px;
}