<form>
  <fieldset class="form-group">
    <Input class="form-control form-control-lg" type="text" placeholder="Bicycle Name" @value={{this.namebicycle}} />
  </fieldset>
  <button class="btn btn-lg btn-primary pull-xs-right" {{on "click" this.submit}} type="button">
    Create
  </button>
</form>